@media (max-width: 319px) {
  #header2 {
    display: none;
  }

  nav {
    display: none;
  }

  #productDetails {
    padding: 5px 15px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: rgb(48, 168, 168);
    margin-bottom: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  #productQuantity {padding-top: 1px;}
  #priceTag {padding-bottom: 7px;}

  body {margin-top: 85px;}
  body {margin-bottom: 50px;}
}


@media (min-width: 320px) and (max-width: 670px) {
  #header2 {
    display: none;
  }

  nav {
    display: none;
  }

  #productDetails span {font-size: 18px;}
  #productDetails button {font-size: 20px;}

  #productDetails {
    padding: 5px 15px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: rgb(48, 168, 168);
    margin-bottom: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
  }


  #productQuantity {padding-top: 1px;}
  #priceTag {padding-bottom: 7px;}

  body {margin-top: 85px;}
  body {margin-bottom: 50px;}
}


@media (min-width: 671px) and (max-width: 700px) {
 footer {
  display: none;
 }

 header {
  display: none;
 }

 #productDetails {padding: 10px;}
  
 #productDetails #productImage {height: 250px;}

 section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
 }

 body {padding-top: 80px;}
 
 main {padding-left: 120px;}

 #productDetails span {font-size: 15px;}

 #productDetails button {font-size: 17px;}
}


@media (min-width: 701px) and (max-width: 1100px) {
  footer {
    display: none;
   }

  header {
    display: none;
   }

 #productDetails {padding: 10px;}

 #productDetails #productImage {height: 250px;}

 section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
 }

 body {padding-top: 80px;}

 main {padding-left: 120px;}

 #productDetails span {font-size: 15px;}

 #productDetails button {font-size: 17px;}
}


@media (min-width: 1101px) {
  footer {
    display: none;
   }
  header {
    display: none;
   }

  #productDetails {padding: 10px;}

  #productDetails #productImage {height: 250px;}

  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
  }

  body {padding-top: 80px;}

  main {padding-left: 120px;}

  #productDetails span {font-size: 15px;}

  #productDetails button {font-size: 17px;}
}