nav {
  background-color: black;
  position: fixed;
  top: 71px;
  bottom: 0;
  left: 0;
  width: 115px;
  display: flex;
  flex-direction: column; 
  color: rgb(0, 238, 255);
  opacity: 0.8;
}

nav a {
  height: 35px;
  background-color: rgb(0, 0, 0);
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: rgb(42, 129, 145);
  border-bottom-width: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 238, 255);
}

nav a:hover {
  background-color: rgb(63, 56, 56);
}

nav a:active {
  background-color: rgb(0, 0, 0);
}